<!DOCTYPE html>
<html>
  <head>
    <title>Adventure MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Once upon a time...</h1>
    <p>In a land far away there lived a dragon named, @Model.Name .</p>
    <p> He was afraid someone would steal his @Model.Noun while he was asleep.</p>
    <p>everyone was @Model.Adjective about the dragon.</p>
    <p>One time the dragon @Model.Verb over the whole town and the people cheered.</p>
  </body>
</html>